<div class="container">
  <div class="row py-5">
    <div class="col-12 text-center">
      <div
        class="fw-bold fade-in-text pt-5"
        id="servicios"
        name="servicios"
        style="font-size: 4rem"
      >
        Nuestros Servicios
      </div>
    </div>
  </div>
  <div class="row g-5 px-5 justify-content-center">
    <div class="col-sm-6 col-lg-4 text-center justify-content-center d-flex">
      <div class="card text-bg-dark border-2 border-light h-100">
        <img
          src="../../assets/img/suministro.jpg"
          class="object-fit-cover"
          style="max-height: 15rem;"
          alt="Suministro de Materiales"
        />
        <div class="card-header">
          <h5 class="card-title">Suministro de Materiales</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Ofrecemos vidrio y perfiles de aluminio de primera calidad para proyectos de construcción, diseño y remodelación, con todos los estándares de seguridad y durabilidad.
          </p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-4 text-center justify-content-center d-flex">
      <div class="card text-bg-dark border-2 border-light h-100">
        <img
          src="../../assets/img/instalacion-vidrio.png"
          class="object-fit-cover"
          style="max-height: 15rem;"
          alt="Instalación de Estructuras"
        />
        <div class="card-header">
          <h5 class="card-title">Instalación de Estructuras</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Nuestro equipo profesional instala canceles, ventanales, puertas corredizas y más, garantizando precisión, seguridad y un acabado perfecto en cada proyecto.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 text-center justify-content-center d-flex">
      <div class="card text-bg-dark border-2 border-light h-100">
        <img
          src="../../assets/img/cotizacion.png"
          class="object-fit-cover"
          style="max-height: 15rem;"
          alt="Cotizaciones Personalizadas"
        />
        <div class="card-header">
          <h5 class="card-title">Cotizaciones Personalizadas</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Solicita una cotización sin compromiso. Te brindamos asesoría y precios claros adaptados a tus necesidades y presupuesto.
          </p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-4 text-center justify-content-center d-flex">
      <div class="card text-bg-dark border-2 border-light h-100">
        <img
          src="../../assets/img/fabricacion.jpg"
          class="object-fit-cover"
          style="max-height: 15rem;"
          alt="Fabricación de Productos"
        />
        <div class="card-header">
          <h5 class="card-title">Fabricación de Productos</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Creamos productos personalizados como canceles, ventanas, repisas y puertas de aluminio y vidrio, con acabados de alta calidad y precisión para cualquier tipo de espacio.
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>
