<div
  id="carouselExample"
  class="carousel slide carousel-fade vh-100 overflow-hidden"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="./../assets/img/wallpaper-bg.jpg"
        class="d-block vh-100 vw-100 img-fluid brightness-5 object-fit-cover"
        alt="..."
      />
      <div class="carousel-caption-custom">
        <h5>Tu mejor opcion</h5>
        <p>
          Servicio de Suministro, fabricación e instalación de canceleria en
          cristal templado y aluminio desde serie Panorama hasta Eurovent
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="./../assets/img/wallpaper-bg2.jpg"
        class="d-block vh-100 vw-100 img-fluid brightness-5 object-fit-cover"
        alt="..."
      />
      <div class="carousel-caption-custom">
        <h5>Tu mejor opcion</h5>
        <p>
          Servicio de Suministro, fabricación e instalación de canceleria en
          cristal templado y aluminio desde serie Panorama hasta Eurovent
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="./../assets/img/wallpaper-bg3.jpg"
        class="d-block vh-100 vw-100 img-fluid brightness-5 object-fit-cover"
        alt="..."
      />
      <div class="carousel-caption-custom">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
